* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}
body {
  position: relative;
}
main {
  background-color: $body-bg;
  height: 100vh;
}
